.header, .header2 {
    display: flex;
    background-color: #00855d;
}

.loli {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.logo {
    font-size: 30px;
    margin: 10px;
    color: #ff8aff;
}

ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

li {
    padding: 0;
    margin: 10px;
    gap: 24px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ff8aff;
}

.large {
    font-size: 48px;
}

img {
    height: 200px;
    width: 800px;
}

.para {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #00855d;
    padding: 36px;
    margin: 0;
}

.copyright {
    color: #ff8aff;
}